* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111111;
}

.App {
    width: 800px;
    height: 100vh;
    display: flex;
    align-items: stretch;
    margin: 0 auto;
    background-color: #222222;
}

